.banner {
    position: relative;
    width: 100%;
    /* height: 100vh; Занимает всю высоту экрана */
    overflow: hidden;
}

.banner-video {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; Масштабирует видео, сохраняя пропорции и заполняя контейнер */
}
.corusel_main_p{
    justify-content: center;
}

/* .mb-4{
    width: 40% !important;
} */
.banner_model_text{
    font-size: 1.5rem;
    color: #7A2031;
    display: flex;
    justify-content: center;
}

.corusel_main_p .corusel_m{
    width: 35%;
}


.cor_item img{
    width: 100% !important; /* Устанавливаем ширину изображения */
    height: 100% !important; /* Устанавливаем высоту изображения */
    object-fit: contain !important; /* Обеспечиваем сохранение пропорций изображения */
    object-position: center !important; /* Центрируем изображение внутри блока */
}
.cor_item {
    height: 250px;
    background-color: #ebedef !important;
}



@media (min-width: 700px) and (max-width: 1000px) {
    .corusel_main_p .corusel_m{
        width: 50%;
    }

    .banner_model_text{
        font-size: 1 rem;
    }
    
}

@media (max-width: 699px) {
    .corusel_main_p .corusel_m{
        width: 90%;
    }
    .banner_model_text{
        font-size: 1rem;
    }
}
