
.product-list {
    display: flex;
    gap: 4rem;
    white-space: nowrap; 
    flex-wrap: wrap;
    margin-left: 4rem;
    padding-top:5rem;
    position: relative;
    z-index: 2;
  }
  .button_product{
    background-color:#7A2031 !important;
    border-radius: 0 !important;
    border: none !important;
    color: #DAA9CF !important;
  }
  
  .button_product1{
    background-color:#7A2031 !important;
    border-radius: 0 !important;
    border: none !important;
    color: #DAA9CF !important;
  }
  .product-list {
    position: relative;
    z-index: 1; /* Убедитесь, что z-index ниже, чем у хедера */
    padding-top: 4rem; /* Добавляем отступ сверху */
  }